.trans-btn {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity .3s;
}

.is-starred {
    color: rgb(172, 164, 16);
    font-weight: 800;
}


.un-starred {
    font-weight: 800;
}

.subject-prev-container {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .2px;
    display: flex;
    flex: 1 1 auto;
    height: auto;
    min-width: 0;
    padding: 0 0.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.subject-preview {
    font-weight: 700;
}

.mail-body-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-basis: 0;
    flex-grow: 1;
    font-weight: 400;
    color: var(--ptxt2);
    font-size: 0.875rem;
    align-self: center;
    display: inline;

}

.date-h4{
    margin-top: 4px;
}