.trans-btn {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity .3s;
}

/* td.trash-td {
    width: fit-content;
}

td.body-td {
    text-align: left;
}

td.subject-td {
    width: fit-content;
} */

.is-starred {
    color: rgb(172, 164, 16);
    font-weight: 800;
}


.un-starred {
    font-weight: 800;
}

.subject-td p{
    -webkit-font-smoothing: antialiased;
    letter-spacing: .2px;
    display: flex;
    flex: 1 1 auto;
    height: auto;
    padding: 0 0.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: max-content;
}

.bodyssssss {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-basis: 0;
    font-weight: 400;
    flex-grow: 1;
    color: var(--ptxt2);
    font-size: 0.875rem;
    align-self: center;
    display: inline;
    flex-shrink: 1;
    margin-left: 10px;
}