.mail-folder-list a {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    color: inherit;
    padding: .5rem .1rem 0 1rem;
    border-radius: 0 2em 2em 0;
}

.mail-folder-list .active {
    background-color: var(--gray2-opacity);
}