.mail-table{
    width: 100%;
    border-spacing: 0px;
}

.trans-btn {
    background-color: transparent;
    border: none;
}

.mail-date{
    width: 8%;
}

.mail-list-item{
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
    background-color: var(--gray1);
}

.mail-list-item.mail-is-read{
    background-color: rgba(74, 72, 72, 0.622);
}

.mail-list-item a{
    margin: 0;
    padding: 10px;
}
.mail-list-item p{
    margin: 0;
    padding: 0 0.5rem;
}


/* ////////////////////////////////////// */
/* /////////////MAIL DETAILS///////////////// */
.mail-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-top-filter{
    background-color: rgb(179, 192, 192);
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;

}

.new-mail-container{
    background-color: rgb(188, 124, 27);
}

/* ////////////////////////////////////// */
/* /////////////MAIL COMPOSE///////////////// */
.mail-compose{
    background-color: aqua;
}

.compose-mail-form {
    height: 32rem;
    position: absolute;
    width: 30rem;
    bottom: 0;
    display: flex;
    left: 22%;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mail-compose input{
    width: 100%;
    border: none;
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
    box-shadow: rgb(100 121 143 / 12%) 0px -1px 0px 0px inset;
    margin-bottom: 0.5rem;

}

.mail-compose textarea{
    width: 100%;
    height: 59%;
    border: none;
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
    box-shadow: rgb(100 121 143 / 12%) 0px -1px 0px 0px inset;
    margin-bottom: 0.5rem;

}
