header.app-header {
    background: var(--main-bg-color);
    border-bottom: 2px solid white;
    box-shadow: rgb(218, 220, 224) 0px -1px 0px 0px inset;
    margin-bottom: .5rem;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: purple;
    font-weight: bold;
    text-decoration: overline;
}

.main-search {
    border-radius: 8px;
    background-color: #fafafa;
    border-color: transparent;
    position: relative;
    width: 500px;
}

.main-search>* {
    padding: 11px 0;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-inline-end: .5rem;
}

.main-search form {
    width: 100%;
}

.main-search input {
    padding-inline-start: 1em;
}

.main-search span {
    cursor: pointer;
}

.main-search select {
    position: absolute;
    top: 0px;
    right: 0;
}

.main-search:focus-within {
    background-color: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
}

.main-search input:focus {
    outline: none;
}

.apps-menu-btn {
    margin-inline-end: 2rem;
}

.apps-menu-btn span {
    font-size: 2.5rem;
}

@media (max-width: 600px) {
    .app-header {
        gap: 1em;
        padding-inline-start: .5em;
    }

    .note-top-filter {
        flex-grow: 1;
    }

    .main-search {
        width: 250px;
        padding: 0;
    }
}