.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    bottom: 4em;
    left: 1em;
    border-radius: 8px;
    padding-inline-end: 10em;
}

.user-msg.success {
    background-color: var(--clr1);
    color: var(--clr2);
}

.user-msg.error {
    background-color: var(--error);
    color: whitesmoke;
}

.user-msg button {
    position: absolute;
    float: right;
    top: 20%;
    right: 0em;
    margin: 0em;
    background-color: transparent;
    border-color: transparent;
    color: var(--clr2);
}

.user-msg span:hover {
    background-color: var(--gray1-opacity);
}

.user-msg span {
    font-size: 1.2em;
    border-radius: 50%;
    padding: .1em;
}