.note {
    background-color: var(--red);
    max-width: 430px;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.note .note-header {
    background-color: transparent;
    border: none;
}

.note:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.note:hover .btn-controls>* {
    opacity: 1;
}

.note button {
    background-color: transparent;
    border: none;
}

.note .btn-controls>* {
    opacity: 0;
    transition: opacity .3s;
}