.note-app{
    max-width: 1080px;
    margin: 0 auto;
}

.note {
    display: inline-block;
    background-color: var(--red);
    /* max-width: 240px; */
    /* width: 100%; */
    padding: 1em 2em;
    margin-bottom: 1em;
    border-radius: 8px;
    transition: background-color .5s;
    margin: 1em .5em
}

.note>* {
    max-width: 240px;
}

.note .note-header {
    background-color: transparent;
    border: none;
}

.note:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.note:hover .btn-controls>* {
    opacity: 1;
}

.note button {
    background-color: transparent;
    border: none;
}

.note .btn-controls>* {
    opacity: 0;
    transition: opacity .3s;
}

.editable {
    overflow: hidden;

    text-overflow: ellipsis;
    /* max-height: 96ch; */
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.editable:focus {
    outline: none;
    max-width: 350px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-line-clamp: 15;
    max-height: 50%;
}

.btns-color-container {
    background-color: black;
    border-radius: 8px;
}

.btns-color-container .btn-yellow {
    color: var(--yellow);
}

.btns-color-container .btn-blue {
    color: var(--blue);
}

.btns-color-container .btn-red {
    color: var(--red);
}

.btns-color-container .btn-purple {
    color: var(--purple);
}

.yellow {
    background-color: var(--yellow);
}

.blue {
    background-color: var(--blue);
}

.red {
    background-color: var(--red);
}

.purple {
    background-color: var(--purple);
}